In [14]:
import pandas as pd
from sqlalchemy import create_engine, text

In [15]:
police_kpi = pd.read_csv('../data/KPI_Response_Full_Data_data.csv')

In [16]:
database_name = 'Metro_Police_Response_Times'    

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [17]:
engine = create_engine(connection_string)

In [18]:
police_response_redux = 'Select zip, precinct, call_rec, tencode_desc, response_code, received_to_dispatch, dispatch_to_arrival, received_to_arrival, received_to_complete, one From police_kpi'

In [19]:
with engine.connect() as connection:
    police_response_redux = pd.read_sql(text(police_response_redux), con = connection)

police_response_redux.head()

,zip,precinct,call_rec,tencode_desc,response_code,received_to_dispatch,dispatch_to_arrival,received_to_arrival,received_to_complete,one
0,37203,Central,2023-03-29 20:39:00,Intoxicated Person,2,47.8,26.4,74.2,84.7,1
1,37203,Central,2023-06-28 16:54:00,Want Officer for Investigation,2,14.0,0.0,14.0,28.6,1
2,37203,Central,2023-05-12 13:11:00,Want Officer for Investigation,2,15.3,0.1,15.3,49.9,1
3,37203,Central,2023-06-26 19:33:00,Want Officer for Investigation,2,2.7,0.1,2.8,79.5,1
4,37203,Central,2023-08-06 13:22:00,Want Officer for Investigation,2,0.2,0.1,0.3,8.0,1

In [20]:
median_income = pd.read_csv('../data/census_median_income.csv')

In [21]:
median_income['location'] = median_income['location'].astype(int)
police_response_vs_income_redux = pd.merge(median_income, police_response_redux, left_on='location', right_on='zip',how='inner')

In [22]:
police_response_vs_income_redux = police_response_vs_income_redux.drop(columns=['zip'])
police_response_vs_income_redux = police_response_vs_income_redux.rename(columns={'location': 'zipcode'})

In [24]:
police_response_vs_income_redux

,zipcode,survey_count,median_income_range,precinct,call_rec,tencode_desc,response_code,received_to_dispatch,dispatch_to_arrival,received_to_arrival,received_to_complete,one
0,37013,36255,"$60,000 to $74,999",South,2023-10-06 15:59:00,Mentally Ill Person,3,1.4,12.1,13.5,89.4,1
1,37013,36255,"$60,000 to $74,999",South,2023-01-23 13:50:00,Mentally Ill Person,3,1.7,108.2,109.8,166.8,1
2,37013,36255,"$60,000 to $74,999",South,2023-02-10 21:01:00,Mentally Ill Person,3,1.8,6.1,7.9,623.6,1
3,37013,36255,"$60,000 to $74,999",South,2023-10-16 20:20:00,Mentally Ill Person,3,1.6,7.8,9.4,165.0,1
4,37013,36255,"$60,000 to $74,999",South,2023-02-05 21:53:00,Mentally Ill Person,3,12.3,8.0,20.3,136.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
215670,37228,1492,"$60,000 to $74,999",North,2023-07-21 17:29:00,Safety Hazard,2,5.9,1.0,6.9,103.5,1
215671,37228,1492,"$60,000 to $74,999",North,2023-11-24 17:29:00,Safety Hazard,2,2.8,8.5,11.3,28.7,1
215672,37228,1492,"$60,000 to $74,999",North,2023-11-15 08:53:00,Safety Hazard,2,3.4,1.7,5.1,33.1,1
215673,37228,1492,"$60,000 to $74,999",North,2023-01-21 18:46:00,Safety Hazard,2,5.0,2.4,7.3,152.0,1
215674,37228,1492,"$60,000 to $74,999",North,2023-07-29 07:02:00,Safety Hazard,2,15.5,0.2,15.7,32.7,1

In [25]:
police_response_vs_income_redux.to_csv('police_response_vs_income_final.csv', index=False)